@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Vollkorn+SC");
@import url("https://fonts.googleapis.com/css?family=Nova+Mono");
body {
  margin: 0;
  border: 0;
  background-color: rgb(17 24 39);
  color: rgb(156 163 175);
}
h1,
h2 {
  color: white;
  font-family: "Josefin Sans", cursive;
}
p {
  font-family: "Nova Mono";
}
.navBarMain {
  margin-top: 0;
  position: fixed;
  background-color: rgb(31 41 55);
  height: 150px;
  width: 100%;
  z-index: 10;
}
.navBarMain div {
  display: inline-block;
}
.navBar {
  display: flex;
  justify-content: center;
}
.name {
  color: white;
  font-size: 30px;
  padding: 20px;
  font-family: "Vollkorn SC";
}
.navBar a {
  font-size: 30px;
  display: inline-block;
  text-decoration: none;
  color: rgb(156 163 175);
  padding: 20px;
  font-family: "Josefin Sans";
}
.navBar a:first-child {
  border-left: 2px solid #9ca3af;
}
.navBar a:hover {
  color: white;
}
.sideMenuBtn {
  position: fixed;
  display: flex;
  justify-content: center;
  background-color: white;
  width: 80px;
  font-size: 20px;
  color: black;
  padding: 30px;
  opacity: 0;
  top: 5%;
  right: 5%;
  z-index: 20;
}
.menu {
  position: fixed;
  transition: 1.5s;
  height: 100%;
  top: 0;
  right: 0;
  overflow-x: hidden;
  z-index: 10;
  background-color: black;
  width: 0;
}
.menu a {
  margin-top: 100px;
  padding: 28px 0px 8px 0px;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}
.menu a:hover {
  color: white;
}
#about {
  padding-top: 120px;
}
/* .main {
  position: fixed;
} */
.aboutContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5%;
  width: 100%;
  padding: 0;
}
.text {
  width: 50%;
  height: 80%;
  margin-left: 3%;
  display: inline-block;
  font-size: 21px;
}
.image {
  display: inline-block;
  margin-left: 3%;
  margin-top: 0;
  width: 35%;
  height: 600px;
}
.head {
  text-align: center;
  padding: 15px;
}
.image img {
  position: relative;
  margin-top: 3%;
  width: 100%;
  height: 80%;
  border-radius: 100%;
  z-index: -1;
}
.btn {
  display: flex;
  justify-content: center;
}
.btn div {
  padding: 30px;
}
.btn div button {
  font-family: "Vollkorn SC";
  width: 200px;
  padding: 30px;
  background-color: #48bb78;
  border: 0;
  color: white;
}
.btn div button:hover {
  color: rgb(156 163 175);
  background: #2d3748;
  cursor: pointer;
}
.head {
  text-align: center;
}
#skills,
#projects,
#contact {
  padding-top: 150px;
}
.icon {
  font-size: 30px;
}
@keyframes arrowDance {
  from {
    top: 0%;
  }
  to {
    top: 50%;
  }
}
.scrollArrow {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  padding: 20px;
  position: absolute;
  right: 0;
  background-color: #48bb78;
  text-align: center;
}
.arrow {
  position: relative;
  font-size: 50px;
  margin-top: 0;
  margin-right: 5%;
  color: white;
  animation-name: arrowDance;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.allProjects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.projectContainer {
  display: flex;
  width: 30%;
  height: 300px;
  margin: 3%;
}
.projectImage {
  object-fit: cover;
  object-position: center;
  width: 30%;
  height: 300px;
  position: absolute;
}
.projectText {
  text-align: center;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 5px;
  background-color: rgb(31 41 55);
  opacity: 0;
}
.projectText:hover {
  opacity: 1;
}
.projectLink {
  text-decoration: none;
}
.projectLanguage {
  font-size: 20px;
  color: #48bb78;
  margin-bottom: 5%;
  padding-top: 20px;
  font-family: "Vollkorn SC";
}
.projectName {
  color: white;
  margin-bottom: 5%;
  font-family: "Nova Mono";
}
.projectDescription {
  color: rgb(156 163 175);
  font-family: "Josefin sans";
}
.github {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.github h3,
a {
  display: inline;
  padding: 5px;
  font-size: 20px;
}
.github h3 {
  color: white;
  font-family: "Nova mono";
}
a {
  color: #48bb78;
}
.allStacks {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.allStacks div {
  padding: 10px;
  width: 300px;
  margin: 10px;
  background-color: rgb(31 41 55);
}
.allStacks div:hover {
  border: 2px solid #48bb78;
}
.allStacks div h3 {
  font-family: "Nova mono";
}
.check {
  color: #48bb78;
}
.contactContainer {
  display: flex;
}
.mapContainer {
  padding: 30px;
  width: 70%;
}
.map {
  width: 100%;
  height: 90%;
  border: 0;
}
.form {
  padding: 30px;
  padding-top: 0;
  width: 30%;
}
.form label {
  font-family: "Josefin sans";
}
.hireHead {
  color: white;
  font-family: "Josefin Sans", cursive;
  font-weight: 600;
}
input,
textarea {
  width: 100%;
  display: block;
  background-color: #2d3748;
  color: white;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  font-family: "josefin sans";
  font-size: 20px;
}
label {
  display: block;
  padding-bottom: 10px;
}
.hireBtn {
  display: flex;
  justify-content: center;
}
button {
  margin-top: 5px;
  margin-left: 30px;
  padding: 20px;
  width: 100%;
  background-color: #48bb78;
  color: white;
  border-radius: 5px;
  border: none;
}
button:hover {
  background-color: #2d3748;
  color: white;
  border: 2px solid #48bb78;
}
.contactIcons {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  background-color: #2d3748;
}
.contactIcons a {
  color: white;
  display: inline-block;
  padding: 10px;
  font-size: 30px;
}
.contactIcons a:hover {
  color: #48bb78;
}
@media screen and (max-width: 1200px) {
  .navBar {
    margin-top: 0%;
  }
}
@media screen and (max-width: 790px) {
  .navBar a {
    display: none;
  }
  .sideMenuBtn {
    opacity: 1;
  }
  .btn {
    margin-left: 250px;
  }
  .btn div {
    padding: 5px;
  }
  .image {
    padding-top: 20px;
  }
  .image img {
    margin-top: 1%;
    height: 500px;
  }
  .scrollArrow {
    display: none;
  }
  .contactContainer {
    display: block;
    text-align: center;
    align-items: center;
    margin: 12px;
  }
  .form {
    padding: 0;
    margin-top: 10%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .mainForm {
    width: 100%;
  }
  input,
  textarea {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  label {
    text-align: center;
  }
  .mainForm button {
    margin-left: 0;
  }
  .mapContainer {
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .map {
    width: 100%;
  }
  .hireBtn button {
    padding: 20px;
  }
}
@media screen and (max-width: 658px) {
  .navBarMain {
    height: 0;
  }
  .name {
    opacity: 0;
  }
  .allProjects {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .projectContainer {
    width: 70%;
  }
  .projectContainer img {
    width: 70%;
  }
  .aboutContainer {
    padding-top: 0px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
}
@media screen and (max-width: 536px) {
  .aboutContainer {
    padding-top: 0px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .text,
  .image {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 0;
    width: 100%;
  }
  .text {
    order: 1;
  }
  .image {
    order: 0;
  }
  .image img {
    position: relative;
    width: 100%;
    border-radius: 50%;
    margin-top: 20%;
  }
  .btn {
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
  }
  .btn div {
    padding: 10px;
  }
}
